* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#header {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background-color: #eee;
}

#home {
    width: 100%;
    height: 100vh;
    background-image: url(./images/Banner\ template\ design\ abstract\ black\ and\ white\ geometric\ squares\ overlapping\ layer\ on\ clean\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 100px;
}

#content h1 {
    font-size: 3em;
    line-height: 2;
    color: #1f9eac;
    margin-top: 100px;
}



#content {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    align-items: flex-end;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;

}

#nav-bar {
    max-width: 400px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    scale: 1.1;
    color: #11619E;
    transition: all ease 0.4s;
    text-decoration: underline;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    gap: 18px;
    padding: 50px 0px;
}

#form h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgb(0, 0, 0);
}

#email {
    width: 275px;
    height: 31px;

}

input[type="email"] {
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    border-radius: 5px;
}

input::placeholder {
    font-size: 13.3333px;
    font-weight: 400;
    Line-height: normal;
}

#submit {
    width: 150px;
    height: 30px;
    background-color: #125057;
    border: none;
    cursor: pointer;
    color: #fff;
}

input[value="GET STARTED"] {
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 5rem 0rem 5rem;
}

#Features {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.icon {
    width: 40px;
}

.fa {
    color: #125057;
}


#products {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

#Pricing {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    gap: 30px;
}

.cart {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.cart-title {
    width: 100%;
    height: 18%;
    background-color: #DDDDDD;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#price {
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.cart-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}

.cart-item p {
    font-size: 16px;
    font-weight: 400;
}

.cart button {
    width: 105px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
}


#footer {
    width: 100%;
    height: 10vh;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 10px;
}

.footer-item {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: right;
    margin-right: 20px;
}

#copyright {
    font-size: 14.4px;
    font-weight: 400;
    color: rgb(68, 68, 68);
    margin-right: 20px;
}



@media only screen and (max-width: 1024px) {
    #form {
        width: 100%;
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    #form {
        width: 100%;
        text-align: center;
    }

    #nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }

    #content img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 150px;
    }
    
    #content h1 {
        font-size: 2em;
        line-height: 2;
        color: #1f9eac;
        margin-top: 150px;
    }

    #content {
        display: flex;
        justify-content: space-between;
        padding: 5vw;
        align-items: flex-end;
    }

    #Pricing {
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 3vw;
    }
    .cart {
        width: 60%;
    }
}


@media only screen and (max-width: 550px) {
    #none {
        display: none;
    }
    #header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #content h1 {
        display: none;
    }

    #content img {
        margin: 200px auto;
    }
    
    #Pricing {
        height: 90vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 3vw;
    }
    .cart {
        width: 60%;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .info {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .info h2 {
        font-size: 22px;
    }
}